<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
</head>
<body>

    <h2>Add New Test</h2>

    <form method="POST" action="/add">
        <input type="text" name="testName" placeholder="Test Name" required><br>

        <input type="date" name="testDate" placeholder="Date" required><br>

        <input type="number" name="physics" placeholder="Physics" required><br>
        <input type="number" name="chemistry" placeholder="Chemistry" required><br>
        <input type="number" name="botany" placeholder="Botany" required><br>
        <input type="number" name="zoology" placeholder="Zoology" required><br>

        <input type="number" name="rank" placeholder="Rank" required><br>

        <button type="submit">Save</button>
    </form>


</body>
</html>