<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="script" href="static/script.js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Progress Tracker</title>
</head>
<body>
    <pre>
        {{ data }}
    </pre>

    <ul>
        {% for test in data %}
        <li>
            {{ test.testName }}: Physics-{{ test.physics }}.... Total-{{ test.total }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>